*{
    margin:0;
    position: relative;
}
.cabecera{
    width:100%;
    height:25rem;
    background: linear-gradient(to bottom left, white 50%, black 50%)
}
.cabecera p{
    font-size: 5rem;
    padding-top: 7.5rem;
    color:white;
    font-family: 'Caveat', cursive;
    margin-left:2.1875rem;
}
.logoifp{
    width:12.5rem;
    left:62.5rem;
    bottom:24.375rem;
}
.insti{
    width:37.5rem;
    left:81.25rem;
    bottom:18.75rem;
    border-radius: 50%;
    border-bottom: 0.3125rem white solid;
}
.insti:hover{
    opacity:50%;
}
.menu{
    background-color: lightgreen;
    width:100%;
    height:18.75rem;
}
a:link{
    color:black;
}
a:visited{
    color:black;
}
.practicas{
    width:21.875rem;
    height:6.25rem;
    left:5%;
    background-color: white;
    border: 0.1875rem solid black;
    float: left;
    margin:1.25rem;
    font-size: 2.5rem;
    text-align: center;
    line-height: 6.25rem;
    font-family: 'Vina Sans', sans-serif;
    box-shadow: 0.625rem 0.3125rem 0.3125rem black;
}
.practicas:hover{
    opacity:50%;
}
.activitat{
    width:100%;
    background-color: black;
    height:34.375rem;
}
.activitat img:hover{
    opacity:50%;
}
.activitat h2{
    font-size: 8rem;
    font-family: 'Caveat', cursive;
    margin-left: 2.1875rem;
}
.activitat h3{
    font-size: 4rem;
    font-family: 'Caveat', cursive;
    margin-left: 2.1875rem;
}
.uno h2{
    color:white;
    text-align: right;
    right:9.375rem;
}
.uno h3{
    color:white;
    text-align: right;
    right:9.375rem;
}
.uno p{
    color:white;
    font-size: 2.1875rem;
    text-align: right;
    right:9.375rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.uno img{
    width:31.25rem;
    bottom:18.75rem;
    left:2.1875rem;
    border-radius: 30%;
    border: 0.3125rem lightsalmon solid;
}
.dos{
    background-color: white;
}
.dos p{
    color:black;
    font-size: 2.1875rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2.1875rem;
}
.dos img{
    width:43.75rem;
    border-radius: 30%;
    border: 0.3125rem lightsalmon solid;
    left:1370px;
    bottom:21.875rem;
}
.tres h2{
    color:white;
    text-align: right;
    right:9.375rem;
}
.tres h3{
    color:white;
    text-align: right;
    right:9.375rem;
}
.tres p{
    color:white;
    font-size: 2.1875rem;
    text-align: right;
    right:9.375rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tres img{
    width:43.75rem;
    bottom:18.75rem;
    left:2.1875rem;
    border-radius: 30%;
    border: 0.3125rem lightsalmon solid;
}
.cuatro{
    background-color: white;
}
.cuatro img{
    width:43.75rem;
    border-radius: 10%;
    border: 0.3125rem lightsalmon solid;
    left:85.625rem;
    bottom:17.5rem;
}
.cuatro p{
    color:black;
    font-size: 2.1875rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2.1875rem;
}
.cinco h2{
    color:white;
    text-align: right;
    right:9.375rem;
}
.cinco h3{
    color:white;
    text-align: right;
    right:9.375rem;
}
.cinco p{
    color:white;
    font-size: 2.1875rem;
    text-align: right;
    right:9.375rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cinco img{
    width:31.25rem;
    bottom:21.25rem;
    left:2.1875rem;
    border-radius: 30%;
    border: 0.3125rem lightsalmon solid;
}
.seis{
    background-color: white;
}
.seis img{
    width:93.75rem;
    border-radius: 10%;
    border: 0.3125rem lightsalmon solid;
    left:43.75rem;
    bottom:18.75rem;
}
.seis p{
    color:black;
    font-size: 2.1875rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2.1875rem;
}
.siete h2{
    color:white;
    text-align: right;
    right:9.375rem;
}
.siete h3{
    color:white;
    text-align: right;
    right:9.375rem;
}
.siete p{
    color:white;
    font-size: 2.1875rem;
    text-align: right;
    right:9.375rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.siete img{
    width:43.75rem;
    bottom:12.5rem;
    left:2.1875rem;
    border-radius: 30%;
    border: 0.3125rem lightsalmon solid;
}
.ocho{
    background-color: white;
}
.ocho img{
    width:18.75rem;
    border-radius: 10%;
    border: 0.3125rem lightsalmon solid;
    left:100rem;
    bottom:21.875rem;
}
.ocho p{
    color:black;
    font-size: 2.1875rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2.1875rem;
}
.nueve h2{
    color:white;
    text-align: right;
    right:9.375rem;
}
.nueve h3{
    color:white;
    text-align: right;
    right:9.375rem;
}
.nueve p{
    color:white;
    font-size: 2.1875rem;
    text-align: right;
    right:9.375rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nueve img{
    width:400px;
    bottom:355px;
    left:2.1875rem;
    border-radius: 30%;
    border: 0.3125rem lightsalmon solid;
}
.diez{
    background-color: white;
}
.diez img{
    width:43.75rem;
    border-radius: 10%;
    border: 5px lightsalmon solid;
    left:81.25rem;
    bottom:330px;
}
.diez p{
    color:black;
    font-size: 2.1875rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 2.1875rem;
}
.jo{
    width:100%;
    height:470px;
    background-color:rgb(86, 255, 190);
}
@font-face{
    font-family: "hollywood";
    src: url(../mp8/fonts/Hollywood\ Capital.ttf);
}
h1{
    font-size: 170px;
    text-align: left;
    font-family: "hollywood";
    margin-left: 2.1875rem;
    top:120px;
    color:black;
}
@font-face {
    font-family: "script";
    src: url(../mp8/fonts/HOLLYWOOD\ STARFIRE.ttf);
}
.jo p{
    font-family: "script";
    font-size: 30px;
    text-align:right;
    bottom:430px;
    width:40%;
    left:1300px;
}
.jo img{
    width:300px;
    border-radius: 30%;
    left:900px;
    bottom:6.25rem;
    border: 3px solid white;
}
.jo img:hover{
    opacity:50%;
}
.footer{
    width:100%;
    height:230px;
    background-color: black;
}
.linia{
    width:99.8%;
    height:3px;
    background-color: white;
    top:125px;
    border: dashed;
}
#tornar{
    width: 6.25rem;
    height: 6.25rem;
    background-color: lightcoral;
    color:black;
    position: fixed;
    bottom: 180px;
    right:25px;
    border-radius: 50px;
    text-align: center;
    font-size: 80px;
}